{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["react"],
    "env": {
        "node": true,
        "es6": true,
        "mocha": true,
        "browser": true
    },
    "rules": {
        "no-console": "off",
        "semi": ["error", "always"],
        "handle-callback-err": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": [2]
    }
}
