{
    "printWidth": 150,
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": false,
    "arrowParens": "avoid"
}
